body
{
    background-image: linear-gradient(to bottom right, rgb(88, 10, 88), rgb(235, 158, 196));
}

.About-Us
{
    color: white;
    
}

.wuhwoh
{
    border-bottom-style: solid;
    border-bottom-color: white;
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}

.About
{
    text-align: center;
    padding-top: 20px;
    
}

.board
{
    border-bottom-style: solid;
    border-bottom-color: white;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.president
{
    font-size: 20px;
    width: 250px;
    border: 1px solid whitesmoke;
    padding: 20px;
    background-color: rgb(175, 123, 175);
    float: left;
    margin: 50px;
}

.vice-pres
{
    font-size: 20px;
    width: 250px;
    border: 1px solid whitesmoke;
    padding: 20px;
    background-color: rgb(175, 123, 175);
    float: left;
    margin: 50px;
}

.treasurer
{
    font-size: 20px;
    width: 250px;
    border: 1px solid whitesmoke;
    padding: 20px;
    background-color: rgb(175, 123, 175);
    float: left;
    margin: 50px;
}

.secretary
{
    font-size: 20px;
    width: 250px;
    border: 1px solid whitesmoke;
    padding: 20px;
    background-color: rgb(175, 123, 175);
    float: left;
    margin: 50px;
}

.pr-chair
{
    font-size: 20px;
    width: 250px;
    border: 1px solid whitesmoke;
    padding: 20px;
    background-color: rgb(175, 123, 175);
    float: left;
    margin: 50px;
}

.webmaster
{
    font-size: 20px;
    width: 250px;
    border: 1px solid whitesmoke;
    padding: 20px;
    background-color: rgb(175, 123, 175);
    float: left;
    margin: 50px;
}